/* Vender_registration.css */
 
.Register-form {
    max-width: 800px; /* Increase the maximum width if needed */
    margin: 0 auto;
    padding: 40px; /* Increase padding for more spacing */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
   
  .form-section {
    margin-top: 30px;
  }
   
  label {
    display: block;
    margin-bottom: 12px;
  }
   
  input,
  textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
   
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
   
  button:hover {
    background-color: #45a049;
  }
  
  